﻿@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="text-center">
    <div>
        <input type="text" id="UserName" placeholder="Enter User Name" />
    </div>
    <div>
        <input type="text" id="UserPassword" placeholder="Enter User Password" />
    </div>
    <div>
        <input type="button" id="btnSubmit" value="Login" />
    </div>
</div>


<script>
    $("#btnSubmit").click(function () {
        if ($("#UserName").val() == "abc" && $("#UserPassword").val() == "123") {
            window.location.href = "/Home/Dashboard";
        } else {
            window.location.href = "/Home/Privacy";
        }
    });
</script>